body{
    background-image: url(images/flower\ new\ bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.column{
    float:left;
    width:30%;
    padding:80px solid #dbbfe6;
    margin-top: auto;
    

    
    
}
.row{
    padding: 50px;
    width: 100%;
}
img{
    border: 2px solid #5e2020;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}
h3{
    padding-left: 2%;
    position:relative;
    
}
.addtocart{
    display: inline;
}
a:link {
color: rgb(14, 13, 13);
background-color:transparent;
text-decoration:none;

}
a:visited {
color: rgb(12, 12, 12);
background-color:transparent;
text-decoration: none;
}
a:hover {
color: rgb(3, 3, 3);
background-color:rgb(212, 238, 220);
text-decoration:wavy;
border: 2px;
border-style:solid;
}
h4{
font-family: Arial, Helvetica, sans-serif;

color: rgb(247, 247, 247);
font-size: 40px;
text-align: center;
background-color: #5e0a0a;
}